<div class="sidebar">
    <div class="quan-ly-du-an">
        <h3>Quản lý dự án</h3>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="" routerLink="/">
                <fa-icon class="fa-lg" [icon]="faHouse"></fa-icon>
                <span>Bảng điều khiển</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="" routerLink="/du-an">
                <fa-icon class="fa-lg" [icon]="faMugHot"></fa-icon>
                <span>Quản lý dự án</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="" routerLink="/task">
                <fa-icon class="fa-lg" [icon]="faSort"></fa-icon>
                <span>Quản lý Task</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="" routerLink="/nhan-vien">
                <fa-icon class="fa-lg" [icon]="faUser"></fa-icon>
                <span>Quản lý nhân viên</span>
            </a>
        </li>
    </ul>
</div>