<div class="container">
    <form action="" #frm1="ngForm" class="col-10 m-auto w-50 border border-success px-3 mt-2" (ngSubmit)="xuly()">
        <h1 class="text-center fw-bold">Sửa Dự Án</h1>

        <div class="mb-3">
            <label for="ten_du_an">Tên dự án: </label>
            <input type="text" required name="ten_du_an" id="ten_du_an" [(ngModel)]="data.ten_du_an"
                class="form-control fs-5" #tenDuAn="ngModel" minlength="3" maxlength="62">
            <div *ngIf="tenDuAn.invalid && (tenDuAn.dirty || tenDuAn.touched)" class="text-danger">
                <div *ngIf="tenDuAn.errors?.['required']">Tên dự án không được để trống</div>
                <div *ngIf="tenDuAn.errors?.['minlength']">Tên dự án tối thiểu 3 ký tự</div>
                <div *ngIf="tenDuAn.errors?.['maxlength']">Tên dự án tối đa 62 ký tự</div>
            </div>
        </div>

        <div class="mb-3">
            <label for="ngay_bat_dau">Ngày bắt đầu: </label>
            <input type="date" name="ngay_bat_dau" id="ngay_bat_dau" [ngModel]="data.ngay_bat_dau | date:'yyyy-MM-dd'"
                (ngModelChange)="data.ngay_bat_dau=$event" class="form-control fs-5" #ngayBatDau="ngModel" required>
            <div *ngIf="ngayBatDau.invalid && (ngayBatDau.dirty || ngayBatDau.touched)" class="text-danger">
                <div *ngIf="ngayBatDau.errors?.['required']">Ngày bắt đầu không được để trống</div>
            </div>
        </div>

        <div class="mb-3">
            <label for="tien">Tiền: </label>
            <input type="number" name="tien" id="tien" [(ngModel)]="data.tien" class="form-control fs-5" #tien="ngModel"
                required>
            <div *ngIf="tien.invalid && (tien.dirty || tien.touched)" class="text-danger">
                <div *ngIf="tien.errors?.['required']">Tiền không được để trống</div>
            </div>
        </div>

        <div class="mb-3 w-50">
            <label for="leader">Leader: </label>
            <select id="leader" name="leader" [(ngModel)]="data.leader" class="form-control fs-5" #leader="ngModel"
                required>
                <option class="fs-5" value="">--Chọn Leader--</option>
                <option class="fs-5" *ngFor="let leader of listNhanVien" [value]="leader.id">
                    {{leader.hovaten}}
                </option>
            </select>
            <div *ngIf="leader.invalid && (leader.dirty || leader.touched)" class="text-danger">
                <div *ngIf="leader.errors?.['required']">Leader không được để trống</div>
            </div>
        </div>

        <div class="mb-3 w-50">
            <label for="thanh_vien">Thành viên: </label>
            <select id="thanh_vien" name="thanh_vien" [(ngModel)]="data.thanh_vien" multiple size="4"
                class="form-control fs-5" #thanhVien="ngModel" required>
                <option class="p-2 fs-5" *ngFor="let thanh_vien of listNhanVien" [value]="thanh_vien.id">
                    {{thanh_vien.hovaten}}
                </option>
            </select>
            <div *ngIf="thanhVien.invalid && (thanhVien.dirty || thanhVien.touched)" class="text-danger">
                <div *ngIf="thanhVien.errors?.['required']">Thành viên không được để trống</div>
            </div>
        </div>

        <div class="mb-3 d-flex justify-content-center">
            <button class="btn btn-success fs-2 px-5" [disabled]="frm1.invalid">Sửa</button>
        </div>
        <!-- <div class="d-flex align-items-center justify-content-center">
            <span class="text-danger text-center fw-bold">{{thongbao}}</span>
        </div> -->
    </form>

    <!-- Popup thông báo -->
    <div *ngIf="showPopup" class="popup-container">
        <div class="popup-content">
            <p>{{thongbao}}</p>
        </div>
    </div>
</div>