<header class="header d-flex">
    <div class="col-md-2 header-trai logo">
        <div style="width: 100%;">
            <!-- <img src="assets/images/logo.png" alt=""> -->
        </div>
    </div>
    <div class="col-md-10 header-phai ">
        <div class="icon">
            <fa-icon class="faBars" [icon]="faBars"></fa-icon>
        </div>

        <div class="d-flex user">
            <div class="dangnhap">
                <a href="" routerLink="/dang-nhap" class="text-black">Đăng nhập</a>
            </div>
            <div class="dangky">
                <a class="text-black" routerLink="/dang-ky" href="">Đăng ký</a>
            </div>
        </div>
        <!-- <div class="user">
            <img src="assets/images/logo.png" alt="">
            <p>Trương Văn Tiến Đạt</p>
            <a href="">
                <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
            </a>
        </div> -->
    </div>
</header>